@page
@model TrainTicketApp.Pages.IndexModel
@{
    ViewData["Title"] = "Menetrend keresés";
}

<h1>Vonatmenetrend keresése</h1>

<form method="get">
    <input type="text" name="departure" placeholder="Indulási hely" />
    <input type="text" name="arrival" placeholder="Érkezési hely" />
    <input type="time" name="departureTime" placeholder="Indulási időpont" />
    <input type="submit" value="Keresés" />
</form>

@if (!string.IsNullOrEmpty(Request.Query["departure"]) ||
!string.IsNullOrEmpty(Request.Query["arrival"]) ||
!string.IsNullOrEmpty(Request.Query["departureTime"]))
{
    if (Model.Trains != null && Model.Trains.Any())
    {
        <h2>Eredmények:</h2>
        <ul>
    @foreach (var train in Model.Trains)
            {
                var hasService = train.Monday != TimeSpan.Zero ||
                train.Tuesday != TimeSpan.Zero ||
                train.Wednesday != TimeSpan.Zero ||
                train.Thursday != TimeSpan.Zero ||
                train.Friday != TimeSpan.Zero ||
                train.Saturday != TimeSpan.Zero ||
                train.Sunday != TimeSpan.Zero;

                if (hasService)
                {
                    <li>@train.DepartureLocation - @train.ArrivalLocation</li>
                    @if (train.Monday != TimeSpan.Zero)
                    {
                        <li>Hétfő: @train.Monday.ToString(@"hh\:mm")</li>
                    }
                    @if (train.Tuesday != TimeSpan.Zero)
                    {
                        <li>Kedd: @train.Tuesday.ToString(@"hh\:mm")</li>
                    }
                    @if (train.Wednesday != TimeSpan.Zero)
                    {
                        <li>Szerda: @train.Wednesday.ToString(@"hh\:mm")</li>
                    }
                    @if (train.Thursday != TimeSpan.Zero)
                    {
                        <li>Csütörtök: @train.Thursday.ToString(@"hh\:mm")</li>
                    }
                    @if (train.Friday != TimeSpan.Zero)
                    {
                        <li>Péntek: @train.Friday.ToString(@"hh\:mm")</li>
                    }
                    @if (train.Saturday != TimeSpan.Zero)
                    {
                        <li>Szombat: @train.Saturday.ToString(@"hh\:mm")</li>
                    }
                    @if (train.Sunday != TimeSpan.Zero)
                    {
                        <li>Vasárnap: @train.Sunday.ToString(@"hh\:mm")</li>
                    }
                }
            }
        </ul>
    }
    else
    {
        <p>Nincs találat a megadott keresési feltételekre.</p>
    }


}