@page
@model TrainTicketApp.Pages.Schedule.IndexModel
@{
    ViewData["Title"] = "Menetrend keresés";
}

<h1>Vonatmenetrend keresése</h1>

<form method="get">
    <input type="text" name="departure" placeholder="Indulási hely" />
    <input type="text" name="arrival" placeholder="Érkezési hely" />
    <input type="time" name="departureTime" placeholder="Indulási időpont" />
    <input type="submit" value="Keresés" />
</form>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Indulási hely</th>
            <th>Érkezési hely</th>
            <th>Indulási idő</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var train in Model.Trains)
        {
            <tr>
                <td>@train.DepartureLocation</td>
                <td>@train.ArrivalLocation</td>
                <td>
                    <ul>
                        <li>Hétfő: @train.Monday.ToString(@"hh\:mm")</li>
                        <li>Kedd: @train.Tuesday.ToString(@"hh\:mm")</li>
                        <li>Szerda: @train.Wednesday.ToString(@"hh\:mm")</li>
                        <li>Csütörtök: @train.Thursday.ToString(@"hh\:mm")</li>
                        <li>Péntek: @train.Friday.ToString(@"hh\:mm")</li>
                        <li>Szombat: @train.Saturday.ToString(@"hh\:mm")</li>
                        <li>Vasárnap: @train.Sunday.ToString(@"hh\:mm")</li>
                    </ul>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>