@page
@model TrainTicketApp.Pages.Orders.CreateOrderModel
@{
    ViewData["Title"] = "Új Rendelés";
}

<h1>Új Rendelés Leadása</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="NewOrder.TrainId">Válasszon vonatot:</label>
        <select asp-for="NewOrder.TrainId" class="form-control">
            <option value="">-- Válasszon vonatot --</option>
            @foreach (var train in Model.AvailableTrains)
            {
                if (train.Monday != TimeSpan.Zero)
                {
                    <option value="@train.Id">@train.DepartureLocation - @train.ArrivalLocation (Hétfő @train.Monday.ToString(@"hh\:mm"))</option>
                }
                if (train.Tuesday != TimeSpan.Zero)
                {
                    <option value="@train.Id">@train.DepartureLocation - @train.ArrivalLocation (Kedd @train.Tuesday.ToString(@"hh\:mm"))</option>
                }
                if (train.Wednesday != TimeSpan.Zero)
                {
                    <option value="@train.Id">@train.DepartureLocation - @train.ArrivalLocation (Szerda @train.Wednesday.ToString(@"hh\:mm"))</option>
                }
                if (train.Thursday != TimeSpan.Zero)
                {
                    <option value="@train.Id">@train.DepartureLocation - @train.ArrivalLocation (Csütörtök @train.Thursday.ToString(@"hh\:mm"))</option>
                }
                if (train.Friday != TimeSpan.Zero)
                {
                    <option value="@train.Id">@train.DepartureLocation - @train.ArrivalLocation (Péntek @train.Friday.ToString(@"hh\:mm"))</option>
                }
                if (train.Saturday != TimeSpan.Zero)
                {
                    <option value="@train.Id">@train.DepartureLocation - @train.ArrivalLocation (Szombat @train.Saturday.ToString(@"hh\:mm"))</option>
                }
                if (train.Sunday != TimeSpan.Zero)
                {
                    <option value="@train.Id">@train.DepartureLocation - @train.ArrivalLocation (Vasárnap @train.Sunday.ToString(@"hh\:mm"))</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="NewOrder.UserName">Név</label>
        <input asp-for="NewOrder.UserName" class="form-control" />
        <span asp-validation-for="NewOrder.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewOrder.UserAddress">Cím</label>
        <input asp-for="NewOrder.UserAddress" class="form-control" />
        <span asp-validation-for="NewOrder.UserAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewOrder.UserEmail">Email</label>
        <input asp-for="NewOrder.UserEmail" class="form-control" />
        <span asp-validation-for="NewOrder.UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewOrder.UserPhone">Telefonszám</label>
        <input asp-for="NewOrder.UserPhone" class="form-control" />
        <span asp-validation-for="NewOrder.UserPhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div>
            <label asp-for="NewOrder.TicketType">Jegytípus</label>
            <select asp-for="NewOrder.TicketType" class="form-control">
                <option value="Normal">Normál</option>
                <option value="Supplementary">Pótjegy</option>
                <option value="SeatReservation">Helyjegy</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>