@page
@using Microsoft.EntityFrameworkCore
@model TrainTicketApp.Pages.Admin.AdminIndexModel
@{
    ViewData["Title"] = "Admin Felület";
}

<style>
    .form-control-inline {
        width: 200px;
        margin-left: 10px;
    }

    .base {
        margin-right: 5px;
        margin-left: 10px;
        width: 200px;
        margin-bottom: 10px;
    }

    h4 {
        margin-left: 10px;
    }

    .btn {
        margin-left: 20px;
    }
</style>

<h1>Admin Felület</h1>
@if (HttpContext.Session.GetString("User") != null)
{
    var userData = HttpContext.Session.GetString("User");
    var user = Newtonsoft.Json.JsonConvert.DeserializeObject<TrainTicketApp.Models.User>(userData);
    if (user.Role != "Admin")
    {
        <div class="alert alert-danger">Nincs jogosultsága az oldal megtekintéséhez!</div>
    }
    else
    {
        <select id="viewSelector" class="form-control" onchange="changeView()">
    <option value="0">-- Válasszon --</option>
    <option value="1">Járat hozzáadása</option>
    <option value="2">Járatok módosítása</option>
    <option value="3">Diagramok</option>
    <option value="4">Felhasználók listázása</option>
</select>
        <form method="post" id="hozzaad" style="display: none;">
    <div class="form-group d-flex flex-wrap">
        <div class="p-2">
            <h4>Indulási hely</h4>
            <input class="base" type="text" asp-for="DepartureLocation" placeholder="Indulási hely" required />
        </div>
        <div class="p-2">
            <h4>Érkezési hely</h4>
            <input class="base" type="text" asp-for="ArrivalLocation" placeholder="Érkezési hely" required />
        </div>
        <div class="p-2">
            <h4>Táv</h4>
            <input class="base" type="number" asp-for="Distance" placeholder="Táv" required />
        </div>
        <div class="p-2">
            <h4>Ár</h4>
            <input class="base" type="number" asp-for="Price" placeholder="Ár" required />
        </div>
        <div class="p-2">
            <h4>Időtartam</h4>
            <input class="base" type="text" asp-for="TravelTime" placeholder="Időtartam (hh:mm)" required />
        </div>
        <div class="p-2">
            <h4>Jegy típusa</h4>
            <select style="height: 40px;" class="base" asp-for="TicketType" id="ticketType"
                onchange="toggleSeatInputs()" required>
                <option value="Normal">Normal</option>
                <option value="Pótjegy">Pótjegy</option>
                <option value="Helyjegy">Helyjegy</option>
            </select>
        </div>
        <div id="seatInputs" style="display: none;">
            <div class="p-2">
                <h4>Vagonok száma</h4>
                <input class="base" type="number" asp-for="CarCount" placeholder="Vagonok száma" />
            </div>
            <div class="p-2">
                <h4>Helyek száma</h4>
                <input class="base" type="number" asp-for="SeatCount" placeholder="Helyek száma" />
            </div>
            <div class="p-2">
                <h4>Helyjegy ára</h4>
                <input class="base" type="number" asp-for="ReservationPrice" placeholder="Helyjegy ára" />
            </div>
        </div>
        <div id="seatInputs2" style="display: none;">
            <div class="p-2">
                <h4>Pótjegy ára</h4>
                <input class="base" type="number" asp-for="SupplementaryPrice" placeholder="Pótjegy ára" />
            </div>
        </div>
    </div>
    <div class="form-group d-flex flex-wrap">
        <div class="p-2">
            <h4>Hétfő</h4>
            <input type="text" asp-for="Monday" placeholder="Indulási idő (hh:mm)" class="form-control-inline" />
        </div>
        <div class="p-2">
            <h4>Kedd</h4>
            <input type="text" asp-for="Tuesday" placeholder="Indulási idő (hh:mm)" class="form-control-inline" />
        </div>
        <div class="p-2">
            <h4>Szerda</h4>
            <input type="text" asp-for="Wednesday" placeholder="Indulási idő (hh:mm)" class="form-control-inline" />
        </div>
        <div class="p-2">
            <h4>Csütörtök</h4>
            <input type="text" asp-for="Thursday" placeholder="Indulási idő (hh:mm)" class="form-control-inline" />
        </div>
        <div class="p-2">
            <h4>Péntek</h4>
            <input type="text" asp-for="Friday" placeholder="Indulási idő (hh:mm)" class="form-control-inline" />
        </div>
        <div class="p-2">
            <h4>Szombat</h4>
            <input type="text" asp-for="Saturday" placeholder="Indulási idő (hh:mm)" class="form-control-inline" />
        </div>
        <div class="p-2">
            <h4>Vasárnap</h4>
            <input type="text" asp-for="Sunday" placeholder="Indulási idő (hh:mm)" class="form-control-inline" />
        </div>
    </div>

    <input type="submit" value="Járat hozzáadása" class="btn btn-primary" />
</form>

        @if (Model.TrainAdded)
        {
            <p>A járat sikeresen hozzáadva!</p>
        }

        <br />
        <br />
        <div id="modosit" style="display: none;">
    <h2>Járatok listája</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Indulási hely</th>
                <th>Érkezési hely</th>
                <th>Indulási idő</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var train in Model.Trains)
                    {
                        var ticket = @train.TicketType;
                        var price = train.Price - train.ReservationPrice - train.SupplementaryPrice;
                        <tr data-ticket-type="@train.TicketType">
                            <td>@train.DepartureLocation</td>
                            <td>@train.ArrivalLocation</td>
                            <td>
                                <ul>
                                    @if (train.Monday != TimeSpan.Zero)
                                    {
                                        <li>Hétfő: @train.Monday.ToString(@"hh\:mm")</li>
                                    }
                                    @if (train.Tuesday != TimeSpan.Zero)
                                    {
                                        <li>Kedd: @train.Tuesday.ToString(@"hh\:mm")</li>
                                    }
                                    @if (train.Wednesday != TimeSpan.Zero)
                                    {
                                        <li>Szerda: @train.Wednesday.ToString(@"hh\:mm")</li>
                                    }
                                    @if (train.Thursday != TimeSpan.Zero)
                                    {
                                        <li>Csütörtök: @train.Thursday.ToString(@"hh\:mm")</li>
                                    }
                                    @if (train.Friday != TimeSpan.Zero)
                                    {
                                        <li>Péntek: @train.Friday.ToString(@"hh\:mm")</li>
                                    }
                                    @if (train.Saturday != TimeSpan.Zero)
                                    {
                                        <li>Szombat: @train.Saturday.ToString(@"hh\:mm")</li>
                                    }
                                    @if (train.Sunday != TimeSpan.Zero)
                                    {
                                        <li>Vasárnap: @train.Sunday.ToString(@"hh\:mm")</li>
                                    }
                                </ul>
                            </td>
                            <td>
                                <form method="post" asp-page-handler="Edit">
                                    <div class="form-group d-flex flex-wrap">
                                        <div class="p-2">
                                            <h4>Indulási hely</h4>
                                            <input class="base" type="text" asp-for="DepartureLocation"
                                                value="@train.DepartureLocation" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Érkezési hely</h4>
                                            <input class="base" type="text" asp-for="ArrivalLocation"
                                                value="@train.ArrivalLocation" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Táv</h4>
                                            <input class="base" type="number" asp-for="Distance" placeholder="Táv"
                                                value="@train.Distance" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Ár</h4>
                                            <input class="base" type="number" asp-for="Price" placeholder="Ár" value="@price" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Időtartam</h4>
                                            <input class="base" type="text" asp-for="TravelTime" placeholder="Időtartam (hh:mm)"
                                                value="@train.TravelTime" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Jegy típusa</h4>
                                            <input class="base" type="text" asp-for="TicketType" id="ticketType2" value="@ticket"
                                                readonly>
                                        </div>
                                        <div id="seatInputs3" style="display: none;">
                                            <div class="p-2">
                                                <h4>Vagonok száma</h4>
                                                <input class="base" type="number" asp-for="CarCount" placeholder="Vagonok száma"
                                                    value="@train.CarCount" />
                                            </div>
                                            <div class="p-2">
                                                <h4>Helyek száma</h4>
                                                <input class="base" type="number" asp-for="SeatCount" placeholder="Helyek száma"
                                                    value="@train.SeatCount" />
                                            </div>
                                            <div class="p-2">
                                                <h4>Helyjegy ára</h4>
                                                <input class="base" type="number" asp-for="ReservationPrice"
                                                    placeholder="Helyjegy ára" value="@train.ReservationPrice" />
                                            </div>
                                        </div>
                                        <div id="seatInputs4" style="display: none;">
                                            <div class="p-2">
                                                <h4>Pótjegy ára</h4>
                                                <input class="base" type="number" asp-for="SupplementaryPrice"
                                                    placeholder="Pótjegy ára" value="@train.SupplementaryPrice" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex flex-wrap">
                                        <div class="p-2">
                                            <h4>Hétfő</h4>
                                            <input type="text" name="Monday" value="@train.Monday.ToString(@"hh\:mm")"
                                                class="form-control-inline" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Kedd</h4>
                                            <input type="text" name="Tuesday" value="@train.Tuesday.ToString(@"hh\:mm")"
                                                class="form-control-inline" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Szerda</h4>
                                            <input type="text" name="Wednesday" value="@train.Wednesday.ToString(@"hh\:mm")"
                                                class="form-control-inline" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Csütörtök</h4>
                                            <input type="text" name="Thursday" value="@train.Thursday.ToString(@"hh\:mm")"
                                                class="form-control-inline" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Péntek</h4>
                                            <input type="text" name="Friday" value="@train.Friday.ToString(@"hh\:mm")"
                                                class="form-control-inline" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Szombat</h4>
                                            <input type="text" name="Saturday" value="@train.Saturday.ToString(@"hh\:mm")"
                                                class="form-control-inline" />
                                        </div>
                                        <div class="p-2">
                                            <h4>Vasárnap</h4>
                                            <input type="text" name="Sunday" value="@train.Sunday.ToString(@"hh\:mm")"
                                                class="form-control-inline" />
                                        </div>
                                    </div>
                                    <input type="hidden" name="id" value="@train.Id">
                                    <input style="float: left; margin-right: 10px;" type="submit" value="Szerkesztés"
                                        class="btn btn-primary" />
                                </form>
                                <form method="post" asp-page-handler="Delete">
                                    <input type="hidden" name="id" value="@train.Id" />
                                    <input style="float: left;" type="submit" value="Törlés" class="btn btn-danger" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="diag" style="display: none;">
    <form method="get">
        <div class="form-group">
            <label for="startDate">Kezdő dátum</label>
            <input type="date" id="startDate" name="startDate" class="form-control" />
        </div>
        <div class="form-group">
            <label for="endDate">Befejező dátum</label>
            <input type="date" id="endDate" name="endDate" class="form-control" />
        </div>
        <div class="form-group">
            <label for="departureLocation">Indulási hely</label>
            <input type="text" id="departureLocation" name="departureLocation" class="form-control" />
        </div>
        <div class="form-group">
            <label for="arrivalLocation">Érkezési hely</label>
            <input type="text" id="arrivalLocation" name="arrivalLocation" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Szűrés</button>
    </form>
    <br />
    <div class="d-flex flex-wrap">
        <div class="chart">
            <h2>Leadott rendelések száma</h2>
            <canvas id="ordersChart"></canvas>
        </div>
        <div class="pieChart">
            <h2>Jegytípusokra leadott rendelések száma</h2>
            <canvas id="ticketTypesChart"></canvas>
        </div>
    </div>
</div>
        <div id="felhasznalok" style="display: none;">
    <h2>Felhasználók listája</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Felhasználónév</th>
                <th>Email</th>
                <th>Telefonszám</th>
                <th>Cím</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user1 in Model.Users)
                    {
                        <tr>
                            <td>@user1.Username</td>
                            <td>@user1.Email</td>
                            <td>@user1.PhoneNumber</td>
                            <td>@user1.Address</td>
                            <td>
                                <form method="post" asp-page-handler="DeleteUserById" asp-route-id="@user1.Id">
                                    <button type="submit" class="btn btn-danger">Törlés</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
else
{
    <div class="alert alert-danger">Az oldal megtekintéséhez be kell jelentkeznie!</div>
}

<style>
    .pieChart {
        width: 600px;
        height: 300px;
        margin-bottom: 50px;
    }

    .chart {
        width: 500px;
        height: 300px;
        margin-bottom: 50px;
    }

    #ticketTypesChart {
        width: 100%;
        height: 100%;
        margin-left: 150px;
    }
</style>

@section Scripts {
    <script>
        function toggleSeatInputs() {
            var ticketType = document.getElementById("ticketType");
            var seatInputs = document.getElementById("seatInputs");

            if (ticketType.value == "Helyjegy") {
                seatInputs.style.display = "block";
                seatInputs.className = "form-group d-flex flex-wrap";
            } else {
                seatInputs.style.display = "none";
                seatInputs.className = "";
            }

            var ticketType2 = document.getElementById("ticketType2");
            var seatInputs2 = document.getElementById("seatInputs2");
            if (ticketType.value == "Pótjegy") {
                seatInputs2.style.display = "block";
                seatInputs2.className = "form-group d-flex flex-wrap";
            } else {
                seatInputs2.style.display = "none";
                seatInputs2.className = "";
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll("tr[data-ticket-type]");
            rows.forEach(row => {
                const ticketType = row.getAttribute("data-ticket-type");
                const seatInputs3 = row.querySelector("#seatInputs3");
                const seatInputs4 = row.querySelector("#seatInputs4");

                if (ticketType === "Helyjegy") {
                    seatInputs3.style.display = "block";
                    seatInputs3.className = "form-group d-flex flex-wrap";
                } else {
                    seatInputs3.style.display = "none";
                    seatInputs3.className = "";
                }

                if (ticketType === "Pótjegy") {
                    seatInputs4.style.display = "block";
                    seatInputs4.className = "form-group d-flex flex-wrap";
                } else {
                    seatInputs4.style.display = "none";
                    seatInputs4.className = "";
                }
            });
        });

        function changeView() {
            var viewSelector = document.getElementById("viewSelector");
            var hozzaad = document.getElementById("hozzaad");
            var modosit = document.getElementById("modosit");
            var diag = document.getElementById("diag");

            if (viewSelector.value == "1") {
                hozzaad.style.display = "block";
                modosit.style.display = "none";
                diag.style.display = "none";
            } else if (viewSelector.value == "2") {
                hozzaad.style.display = "none";
                modosit.style.display = "block";
                diag.style.display = "none";
            } else if (viewSelector.value == "3") {
                hozzaad.style.display = "none";
                modosit.style.display = "none";
                diag.style.display = "block";
            } else if(viewSelector.value == "4") {
                hozzaad.style.display = "none";
                modosit.style.display = "none";
                diag.style.display = "none";
                felhasznalok.style.display = "block";
            } else {
                hozzaad.style.display = "none";
                modosit.style.display = "none";
                diag.style.display = "none";
                felhasznalok.style.display = "none";
            }
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var ordersChartCtx = document.getElementById('ordersChart').getContext('2d');
            var ordersChart = new Chart(ordersChartCtx, {
                type: 'line',
                data: {
                    labels: @Html.Raw(Json.Serialize(Model.OrderDates)),
                    datasets: [{
                        label: 'Leadott rendelések száma',
                        data: @Html.Raw(Json.Serialize(Model.OrderCounts)),
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            var ticketTypesChartCtx = document.getElementById('ticketTypesChart').getContext('2d');
            var ticketTypesChart = new Chart(ticketTypesChartCtx, {
                type: 'pie',
                data: {
                    labels: @Html.Raw(Json.Serialize(Model.TicketTypes)),
                    datasets: [{
                        label: 'Jegytípusokra leadott rendelések száma',
                        data: @Html.Raw(Json.Serialize(Model.TicketTypeCounts)),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    var label = context.label || '';
                                    if (label) {
                                        label += ': ';
                                    }
                                    if (context.parsed !== null) {
                                        label += context.parsed;
                                    }
                                    return label;
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
}